* {
  font-family: Arial, sans-serif;
  font-size: 0.9rem;
  color: #333;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eef8f8;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 20px 0px 20px;
}

.header > * {
  margin: 0 10px;
}

.header .title {
  font-size: 120%;
  font-weight: bold;
}

.header select {
  min-width: 250px;
  padding: 5px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.header select option {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: green;
}

#droparea {
  border: solid 1px black;
  background-color: white; 
  padding: 8px 20px; 
  margin-right: 20px;
  border-radius: 5px;
}

#error-message {
  color: red;
  margin: none;
  text-align: center;
}